.note__tile {
  border-bottom: 1px dashed var(--border-color);
  transition: var(--transition);
}
.note__tile:hover {
  background-color: var(--secondary-background-color);
}
.tile__content > * {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.tile__content > *:hover {
  text-decoration: none;
}

.tile__content > p {
  color: var(--foreground-color);
  text-decoration: none;
}
.tile__title {
  color: var(--primary-color);
}
