.btn-restore {
  background-color: var(--danger-color);
  font-family: var(--highlighted-font);
  padding: 5px 10px;
}
.filters {
  outline: 1px solid transparent;
  color: var(--accent-color);
  background-color: var(--background-color);
  border: none;
  border-bottom: 2px solid var(--highlight-color);
}

.sidebar {
  min-width: 20rem;
  border-right: 1px solid var(--border-color);
  grid-template-rows: auto auto auto 1fr;
  height: 100vh;
}
.sidebar__list {
  overflow: auto;
  scrollbar-width: none;
}
.sidebar__list::-webkit-scrollbar {
  display: none;
}
.sidebar__search {
  outline: 1px solid transparent;
  border-bottom: 1px solid var(--border-color);
  color: var(--text-gray);
  padding-left: 3rem;
}
.sidebar__search-icon {
  top: 50%;
  transform: translateY(-50%);
  left: 1rem;
}
